@import "src/shared";

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 57px;
}

.infoCard {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0fr 0fr;
  gap: 45px 26px;
  grid-template-areas:
    ". ."
    "statistic statistic";
}

.nextEvent {
  cursor: pointer;
  margin-top: 37px;
  padding: 20px;
  background: $gradient;
  width: 100%;
}


.textNext {
  text-align: center;
}
