.blockItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 5px;
}