@import "src/shared";

.wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 40px 40px;
  grid-template-areas:
    ". . . .";
  padding: 0 68px;
}

.wrapperAvatar {
  display: flex;
  flex-direction: column;
  padding: 15px;
  padding-bottom: 26px;
  background-color: $four;
}

.avatar {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 20px;
}

.saveButton {
  position: fixed !important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
}