.wrapper {
  background-color: #F0F7FF;
  width: 100vw;
  min-height: 100vh;
}

.contentWithMenu {
  display: grid;
  grid-template-columns: .25fr 1fr;
  grid-template-rows: 1fr;
  gap: 24px;
  grid-template-areas:
    ". .";
}

.content {
  display: flex;
  gap: 34px;
  padding-right: 65px;
}
