@import "../../../../shared";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.headStyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: max-content;
}

