@import 'src/shared';

.wrapper {
  display: flex;
  height: 130px;
  width: 100%;
  padding: 0 68px;
  padding-right: 65px;
  justify-content: space-between;
}

.rightBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px 0;
}

.link {
  color: $four;
}
