body {
    margin: 0;
    font-family: Aqum, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    width: 100vw;
    min-height: 100vh;
}

button {
    font-family: Aqum, sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

@font-face {
    font-family: Aqum;
    src: url('assets/fonts/Aqum.otf');
}

@font-face {
    font-family: Jost;
    src: url('assets/fonts/Jost.ttf');
}

button {
    border: none;
}
