$primary: #5191FA;
$secondary: #FDFDFF;
$third: #1B437680;
$four: #051B4D;
$gradient: linear-gradient(135deg, #122E53 0%, rgba(27, 67, 118, 0.8) 100%);
$gray: #515459;
$background: linear-gradient(128.16deg, rgba(233, 233, 233, 0.5) 18.3%, rgba(248, 249, 253, 0) 81.7%, rgba(0, 0, 0, 0) 81.7%), #F0F7FF;

:export {
  primary: $primary;
  secondary: $secondary;
  third: $third;
  four: $four;
  gradient: $gradient;
  gray: $gray;
  background: $background;
}
