@import "src/shared";

.wrapper {
  padding-left: 92px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info {
  text-transform: uppercase;
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  color: #051B4D;
  margin-bottom: -3px;
}

.link {
  color: $gray;
}
